[user]

  name  = Ty Cobb
  email = ty.cobb.m@gmail.com

[alias]

  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\t=> \\2/' | sort

  st   = status
  lg   = log --color
  lgnm = log --color --no-merges
  lgs  = "!zsh -c 'git log --no-merges --color --since=$0.days --author=\"Ty Cobb\"'"
  brah = "!zsh -c 'branch-alias'"

  ci  = commit
  cim = commit -m
  cam = commit -a -m

  br  = branch
  dbr = branch -d
  dwb = branch -D work

  co  = checkout
  cbr = checkout -b
  cwb = checkout -b work

  rb  = rebase

  mwb = merge work 
  rmc = rm --cached

  srb = svn rebase
  sdc = svn dcommit

  plo = "!git pull origin $(git br -vv | grep \"[*].*\\[.*\\]\" | cut -d ' ' -f 2)"
  pso = "!git push origin $(git br -vv | grep \"[*].*\\[.*\\]\" | cut -d ' ' -f 2)"

  ulc   = reset --soft HEAD^
  count = rev-list HEAD --count
  
  sync   = !zsh ~/Dropbox/scripts/git_commit.zsh
  syncp  = !zsh ~/Dropbox/scripts/git_commit.zsh --push
  ssync  = !zsh ~/Dropbox/scripts/git_commit.zsh --svn
  ssyncp = !zsh ~/Dropbox/scripts/git_commit.zsh --svn --push 

[color]

  diff   = auto
  status = auto
  branch = auto
  ui     = true
  pager  = true  
  interactive = auto
 
[color "status"]

  branch    = yellow
  added     = yellow
  changed   = dim cyan
  untracked = dim white

[core]

  excludesfile = ~/.gitignore_global
	editor = /usr/local/bin/vim

[push]

  default = nothing

