[user]
  name  = ty cobb
  email = bin@tycobb.club

[core]
  excludesfile = ~/.gitignore_global

[alias]
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\t=> \\2/' | sort
  st    = status
  lg    = log --color --no-merges
  ap    = add -p
  apx   = "!f() { git add -p \"**/*.$1\"; }; f"
  ci    = commit
  cim   = commit -m
  cam   = commit -a -m
  br    = branch
  dbr   = branch -d
  rs    = restore --staged
  co    = checkout
  cbr   = checkout -b
  rb    = rebase
  prune = remote prune
  plo   = "!b=$(git br -vv | grep \"[*].*\\[.*\\]\" | cut -d ' ' -f 2); git pull origin $b"
  pso   = "!b=$(git br -vv | grep \"[*].*\\[.*\\]\" | cut -d ' ' -f 2); git push origin $b"
  psu   = "!b=$(git br | grep '*' | cut -c3-); git push origin -u $b"
  ulc   = reset --soft HEAD^
  count = rev-list HEAD --count
  
[color]
  diff   = auto
  status = auto
  branch = auto
  ui     = true
  pager  = true  
  interactive = auto
 
[color "status"]
  branch    = yellow
  added     = yellow
  changed   = dim cyan
  untracked = dim white

[init]
  defaultBranch = main

[push]
  default = nothing

[pull]
  rebase = false

[pager]
  branch = false
  diff = diff-so-fancy | less
  show = diff-so-fancy | less

[credential]
  helper = osxkeychain

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
